@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
/* font-family: 'Aboreto', cursive; */

/* Header section */

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body{
    display: grid;
}
#header {
    padding: 1.25rem 4rem;
    background: transparent;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E2E8F0;
    height: 2rem;
}
#header a{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header a img {
    width: auto;
    height: 2.5rem;
}
#header ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
#header ul img {
    width: 1.25rem;
    height: 1.25rem;
    padding: 1rem 1rem;
}

/* Hero section */

#hero {
    background-image: url("Images/Others/BlurLayer.png");
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #E2E8F0;
}
#hero h1 {
    font-family: 'Aboreto', cursive;
    font-size: 2.5rem;
    text-align: center;
}
#hero p{
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    text-align: center;
    padding: 1rem 0px;
    line-height: 1.8rem;
    color: #64748B;
}
#form{
    padding: 2.5rem 0 0 0;
}
#form input {
    background-color: transparent;
    border: 1px solid #94A3B8;
    border-radius: 0.75rem;
    height: 3rem;
    border-radius: 2rem 0px 0px 2rem;
    border-width: 1px 0px 1px 1px;
    width: 700px;
    font-size: 1rem;
    padding: 0 1.25rem;
    
    /* outline if effect after click on input */
}
#form input:hover {
    border: 1px solid #9cb2d1;
    border-radius: 2rem 0px 0px 2rem;
    border-width: 1px 0px 1px 1px;
}
#form button {
    font-family: 'Inter', sans-serif;
    background: #4338CA;
    border: none;
    color: white;
    border-radius: 0px 2rem 2rem 0px;
    width: 250px;
    height: 3rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.03em;
    cursor: pointer;
    transition: 0.5s;
}
#form button:hover{
    background: #3730A3;
}

/* Products section */

#products{
    display: flex;
    padding: 4rem 4rem;
    justify-content: space-between;
}
.span {
    font-size: 3rem;
    opacity: 0.16;
    color: #0F172A;
    font-family: 'Aboreto', cursive;

}
.P-photo {
    width: 8rem;
    height: 8rem;
}


/* Footer section */

#footer {
    display: flex;
    padding: 0.75rem 4rem;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #E2E8F0;
}
#footer p {
    color: #94A3B8;
}
#footer ul {
    display: flex;
    list-style: none;
    
}
#footer ul li {
    padding: 0 1rem;
}
#footer ul li a {
    text-decoration: none;
    color: #64748B;
    transition: 0.3s;
}
#footer ul li a:hover {
    color: #4338CA;
    text-decoration: underline;
}