@import url(../Styleguide.css);

/* Hero section */

.Blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-block: var(--size-1000);
}
.mesh-gradient-3 {
    position: absolute;
    opacity: 0.3;
    filter: blur(100px);
    width: 22.5em;
    height: 14.75em;
    top: 4.1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
}
.page-name {
    font-style: normal;
    font-weight: 500;
    font-size: clamp(.75em, 1em);
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    opacity: 0.4;
}
.about-heading{
    margin-top: 12px;
    margin-bottom: 8px;
}
.about-description {
    line-height: 22px;
    font-size: 1.125em;
    text-align: center;
    width: 100%;
    min-width: 1em;
}

/* Categories section */

.categories {
    display: flex;
    justify-content: space-between;
    gap: var(--size-600);
    overflow-x: scroll;
    padding-block: var(--size-800);
    
}
.category {
    color: var(--clr-neutral-900);
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: var(--size-700) var(--size-1000);
    border-radius: var(--size-600);
    border: 1px solid var(--clr-neutral-200);
}

@media (max-width: 800px) {
    .categories {
        padding-block: var(--size-300);
        gap: var(--size-200);
    }
    .category {
        padding: var(--size-400) var(--size-600);
        border-radius: var(--size-400);
    }
}

/* Cards */

.cards {
    display: grid;
    gap: var(--size-600);
    justify-content: center;
    padding-block: var(--size-800);
}
.card_info {
    padding: var(--size-400);
}
.card {
    border: 1px solid var(--clr-neutral-200);
    border-radius: var(--size-600);
    max-width: 450px;
    box-shadow: 0px 44px 40px -40px rgba(30, 41, 59, 0.1);
}
.card_category {
    color: var(--clr-neutral-600);
    text-transform: uppercase;
    font-weight: var(--fw-medium);
}
.card_title {
    font-size: var(--fs-600);
    font-weight: var(--fw-semi-bold);
    margin-block: var(--size-100);
}
.card_date {
    color: var(--clr-neutral-600);
    text-transform: uppercase;
    font-weight: var(--fw-medium);
}
@media (min-width : 800px) {
    .cards {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
    .card_info {
        padding: var(--size-600);
    }
    .card {
        border-radius: var(--size-700);
    }
}